/* Base Styles */

* {
	font-family: "Eurostile LT Std Medium", "Eurostile LT Std", sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h1, h2, h3, h4 {
	font-family: "ArchiType", "Eurostile LT Std Medium", "Eurostile LT Std", sans-serif;
}
ol.upper-latin {
	list-style-type: upper-latin;
}
ol.upper-roman {
	list-style-type: upper-roman;
}

/* SWN */

.swn-action {
	margin: 4px 0 4px 0;
}
.swn-hidden {
	display: none;	
}
.swn-section {
	border: 1px solid #cccccc;
	margin: 10px;
	padding: 4px;
}
.swn-section h3 {
	border: 1px solid #cccccc;
	border-width: 0 0 1px 0;
	text-transform: uppercase;
	width: 100%;
}
.swn-section-steps * {
	font-size: 14px;
	margin: 4px 0;
}
.swn-section-steps li.swn-cmd div {
	margin-left: 6px;
}
.swn-section-steps .swn-cmd button {
	color: #009900;
	font-size: 14px;
}
.swn-section-steps .swn-cmd-description {
	font-style: italic;
}
.swn-disabled {
	background: transparent;
	border: 1px solid white;
	color: #cccccc;
}

/* attributes */
.swn-attr-table {
	width: 100%;
}
.swn-attr-table td {
	border: 1px solid #ccc;
}
.swn-attr-label {
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}
.swn-attr-modifier {
	text-align: center;
}
.swn-attr-score {
	text-align: center;
}

/* basics */
.swn-basics-table {
	width: 100%;
}
.swn-basics-table td {
	border: 1px solid #ccc;
	width: 50%;
}

/* skills */
.swn-skills-table {
	width: 100%;
}
.swn-skills-table td {
	border: 1px solid #ccc;
	width: 50%;
}
.swn-skills-label {
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}
.swn-skill-rating {
	text-align: center;
}
.swn-skill-rating-1 {
	color: #ff0000;
}
.swn-skill-rating0 {
	color: #000000;
}
.swn-skill-rating1 {
	color: #00ff00;
}
.swn-skill-rating2 {
	color: #0000cc;
}
.swn-skill-rating3,.swn-skill-rating4,.swn-skill-rating5,.swn-skill-rating6,.swn-skill-rating7,.swn-skill-rating8 {
	color: #0000ff;
}
